//  Building Blocks Settings
//  ------------------------
//
//  Table of Contents:
//
//   1. Date Selector`
//   2. Event Listing
//   3. Option Button
//   4. Pagination
//   5. Service Block
//   6. Social Login Button


// 1. Date Selector`
// -----------------

$event-month: #eee;

// 2. Event Listing
// ----------------

$event-month: #eee;
$event-day: #eee;

// 3. Option Button
// ----------------

$service-background: #00a8ff;

// 4. Pagination
// -------------

$pagination-color: #cacaca;
$pagination-font-size: rem-calc(18);
$pagination-item-padding: rem-calc(6 15);

// 5. Service Block
// ----------------

$service-background: #00a8ff;

// 6. Social Login Button
// ----------------------

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$text-transform: uppercase;
$icon-size: 2rem;

