////
/// @group event-listing
////

/// event background
$event-month: #eee;

/// event background
$event-day: #eee;


.event {
  padding: 1rem 1rem 1rem 0;
  display: table;

  .event-date {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto;
    
    .event-month,
    .event-day  { margin: 0; text-align: center;}

    .event-month{
      background: $event-month;
      padding: 0.5rem 2rem;
    }

    .event-day {
      border: 1px solid $event-day;
      padding: 0 2rem;
      font-size: 2rem;
    }
  }

  .event-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;

    .event-desc-header,
    .event-desc-detail { padding: 0;}

    .event-desc-header { margin: 0 0 0.5rem 0; }

    .event-desc-detail { margin: 0 0 0.25rem; }

    .event-desc-time { font-weight: bold; }

    .rsvp.button {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin: 0;
    }
  }
}
