////
/// @group pagination
////

// These variables should be adjusted in the _settings.scss file by using octophant

/// Color used for medium gray UI items within Foundation
$pagination-color: #cacaca;
/// changes the fonts size and circle size
$pagination-font-size: rem-calc(18);
/// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

// Normally
	// $pagination-font-size: rem-calc(14);
	// $pagination-margin-bottom: $global-margin;
	// $pagination-item-color: $black;
	// $pagination-item-padding: rem-calc(3 10);
	// $pagination-item-spacing: rem-calc(1);
	// $pagination-radius: $global-radius;
	// $pagination-item-background-hover: $light-gray;
	// $pagination-item-background-current: $primary-color;
	// $pagination-item-color-current: foreground($pagination-item-background-current);
	// $pagination-item-color-disabled: $medium-gray;
	// $pagination-ellipsis-color: $black;
	// $pagination-mobile-items: false;
	// $pagination-arrows: true;

// Import this into app.scss
.pagination li {
  border: 1px solid $pagination-color;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}