
<div class="row">
  <div class="small-5 small-centered columns">
    
    <h4>Right Icon Version</h4>
    
    <button href="#" class="facebook button split"> <span></span>sign in with facebook</button>
  
    <button href="#" class="twitter button split"> <span></span>sign in with twitter</button>
    
    <button href="#" class="google button split"> <span></span>sign in with google +</button>
    
    <hr />
    
    <h4>Left Icon Version</h4>
    
    <button href="#" class="facebook left-icon button split"> <span></span>sign in with facebook</button>
  
    <button href="#" class="twitter left-icon button split"> <span></span>sign in with twitter</button>
    
    <button href="#" class="google left-icon button split"> <span></span>sign in with google +</button>
    
    <hr />
    
    <h4>Round Button Version</h4>
    
    <button href="#" class="facebook round button split"> <span></span>sign in with facebook</button>
  
    <button href="#" class="twitter round button split"> <span></span>sign in with twitter</button>
    
    <button href="#" class="google round button split"> <span></span>sign in with google +</button>
    
    <hr />
    
    <h4>Radius Button Version</h4>
    
    <button href="#" class="facebook radius button split"> <span></span>sign in with facebook</button>
  
    <button href="#" class="twitter radius button split"> <span></span>sign in with twitter</button>
    
    <button href="#" class="google radius button split"> <span></span>sign in with google +</button>
    
  </div>
</div>